/* static/style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    background-image: url('/static/naruto.webp');
    margin: 0;
    padding: 0;
}




h1 {
    text-align: center;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    background-color: #9e9ee8;
    display: block;
    max-width: 600px;
    margin: 10px auto;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #555;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

h2 {
    text-align: center;
    color: #333;
    background-color: #9e9ee8;
    display: block;
    max-width: 600px;
    margin: 10px auto;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin: 10px auto;
    max-width: 600px;
}
